# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environments
venv/
env/
.venv/
ENV/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log
